<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.flow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>03DBE303-E9DD-4A57-B051-C440279CF378</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC03358E-EAF7-48F0-A86A-951E4AD07CBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A1F8331-941F-436E-B246-33278755D60A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>259A5907-9A8C-4B24-A85E-B11FDC01D311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17C80585-EC4F-498F-AB91-DBA6EBEA4C9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>259A5907-9A8C-4B24-A85E-B11FDC01D311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29EFA025-C5F1-468D-B065-59EF0C026D11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>259A5907-9A8C-4B24-A85E-B11FDC01D311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62AC894E-3015-44DC-96BC-313D1622A652</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C4E518D-0498-4D93-B09C-549A95C44A7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99005792-A935-48B8-A8E6-B02B9423ACBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62AC894E-3015-44DC-96BC-313D1622A652</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC03358E-EAF7-48F0-A86A-951E4AD07CBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80F67126-8A71-4268-95E8-6BC8B87A976C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD7F82B8-51F1-4A5A-89DE-7CE2D2A6E369</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>258D642D-325C-41B4-A42D-465A99642478</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF658493-2BBB-4571-A332-86BFBCCB5AFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>259A5907-9A8C-4B24-A85E-B11FDC01D311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E73DE4F3-55ED-4D4A-B407-28EFDC650B17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9E0CF4E-F639-4FEB-8ECB-9B6CA14A7131</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8F85589-F67A-4DC4-A472-E781462F41BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>259A5907-9A8C-4B24-A85E-B11FDC01D311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>muyunyun</string>
	<key>description</key>
	<string>work flow enhance</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>flow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>zh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching... Please Wait</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node search.js zhihu "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input keywords to search in zhihu</string>
				<key>title</key>
				<string>搜索</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A1F8331-941F-436E-B246-33278755D60A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>tb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching... Please Wait</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node search.js taobao "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input keywords to search in taobao</string>
				<key>title</key>
				<string>搜索</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8F85589-F67A-4DC4-A472-E781462F41BF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching... Please Wait</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node search.js jd "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input keywords to search in jd</string>
				<key>title</key>
				<string>搜索</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CF658493-2BBB-4571-A332-86BFBCCB5AFB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>259A5907-9A8C-4B24-A85E-B11FDC01D311</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gold</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching... Please Wait</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node search.js juejin "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input keywords to search in juejin</string>
				<key>title</key>
				<string>搜索</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>17C80585-EC4F-498F-AB91-DBA6EBEA4C9D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching... Please Wait</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node search.js github "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Input keywords to search in github</string>
				<key>title</key>
				<string>搜索</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>29EFA025-C5F1-468D-B065-59EF0C026D11</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>80F67126-8A71-4268-95E8-6BC8B87A976C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/Pinduoduo/$1 &amp;&amp; echo -n "$(git config --get remote.origin.url | sed 's/\.git//' | sed 's/:/\//' | sed 's/gitlab@/http:\/\//')"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC03358E-EAF7-48F0-A86A-951E4AD07CBC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>open</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching ...</string>
				<key>script</key>
				<string>/usr/local/bin/node flow.js "Pinduoduo" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open a flow project in default browser</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>03DBE303-E9DD-4A57-B051-C440279CF378</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/code ~/Pinduoduo/$1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>258D642D-325C-41B4-A42D-465A99642478</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching ...</string>
				<key>script</key>
				<string>/usr/local/bin/node flow.js "Pinduoduo" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open a flow project using vscode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AD7F82B8-51F1-4A5A-89DE-7CE2D2A6E369</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"clear all proxy","arg":"9"},{"title":"auto proxy discovery","arg":"1"}]</string>
				<key>keyword</key>
				<string>pac</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>pac-toggle</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>99005792-A935-48B8-A8E6-B02B9423ACBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4C4E518D-0498-4D93-B09C-549A95C44A7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># set it by yourself
# 快速切换 autoproxy pac 配置。 快速切换 Mac 系统中 System Preferences -&gt; Network -&gt; #Advanced... -&gt; Proxise -&gt; Automatic Proxy Configuration 这一项。
# pac 1 ： 切换到 pac1
# pac 2 ： 切换到 pac2
# pac [空 | others] : 禁用 autoproxy
# 注意：使用前请打开 workflow 设置自己的 pac url

proxy_1="http://127.0.0.1:16823/proxy_on.pac"

DEVICE=$(networksetup -listnetworkserviceorder | awk '
  BEGIN {
    "netstat -rn | grep default " | getline var
    split(var, ARRAY, " ")
  }

  { if ($5 ~ ARRAY[6]) { NAME=$3 } }

  END { print NAME }
')

proxy_url=""
clear_all_pac="clear_all_pac"
auto_proxy_discovery="auto_proxy_discovery"

case "{query}" in
  1)
  proxy_url="$auto_proxy_discovery"
  ;;
  2)
  proxy_url="$proxy_1"
  ;;
  9)
  proxy_url="$clear_all_pac"
  ;;
  # set more pac in here.
  *)
  proxy_url="to_do"
  ;;
esac

if [ -n "$proxy_url" ]; then
  echo "$proxy_url"
if [ "$proxy_url" = "$clear_all_pac" ]; then
  networksetup -setautoproxystate Wi-Fi off
  networksetup -setproxyautodiscovery Wi-Fi off
  networksetup -setsocksfirewallproxystate Wi-Fi off
  # networksetup -setwebproxystate Wi-Fi off
  echo "disable autoproxy"
elif [ "$proxy_url" = "$auto_proxy_discovery" ]; then
  networksetup -setautoproxystate Wi-Fi off
  networksetup -setproxyautodiscovery Wi-Fi on
  networksetup -setsocksfirewallproxystate Wi-Fi off
  echo "set proxyautodiscovery"
else
  # networksetup -setautoproxyurl ${DEVICE%,*} ${proxy_url}
  echo "switch to ${proxy_url}"
fi
else
 echo "please set your pac url."
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62AC894E-3015-44DC-96BC-313D1622A652</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>beast</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching ...</string>
				<key>script</key>
				<string>/usr/local/bin/node beast.js "Pinduoduo/beast-doc/beast" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open a flow project in default browser</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E73DE4F3-55ED-4D4A-B407-28EFDC650B17</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D9E0CF4E-F639-4FEB-8ECB-9B6CA14A7131</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![GitHub views](https://raw.githubusercontent.com/MuYunyun/flow/traffic/traffic-flow/views.svg)

- [使用说明](#使用说明)
- [搜索](#搜索)
  - [知乎智能搜索匹配](#知乎智能搜索匹配)
  - [淘宝智能搜索匹配](#淘宝智能搜索匹配)
  - [京东智能搜索匹配](#京东智能搜索匹配)
  - [掘金智能搜索匹配](#掘金智能搜索匹配)
  - [Github 智能搜索匹配](#github-智能搜索匹配)
- [工作流提效](#工作流提效)
  - [使用 VSCode 快速打开项目文件](#使用-vscode-快速打开项目文件)
  - [快速打开到项目对应的 github/gitlab 链接](#快速打开到项目对应的-githubgitlab-链接)
  - [一键切换网络代理](#一键切换网络代理)

## 使用说明

1. [下载 flow](https://github.com//MuYunyun/commonSearch/raw/master/flow.alfredworkflow)
2. 双击下载好的 `flow.alfredworkflow` 文件, 自动完成安装。

&gt; 使用该插件需要[安装 node](https://nodejs.org/en/)

## 搜索

### 知乎智能搜索匹配

* 触发 key : `zh`

![](http://with.muyunyun.cn/ef946bc5fe4d0fdb6474350bf31cf9fc.jpg-400)

### 淘宝智能搜索匹配

* 触发 key : `tb`

![](http://with.muyunyun.cn/97f9f0513c1369886a812bbf6cd73b05.jpg-400)

### 京东智能搜索匹配

* 触发 key : `jd`

![](http://with.muyunyun.cn/19e5ecbc5d38251e5ceeb145579faeb1.jpg-400)

### 掘金智能搜索匹配

* 触发 key : `gold`, 按住 `cmd` 可以查看内容简介

![](http://with.muyunyun.cn/40a83edf9552b4a071dd2ff5093a445b.gif)

### Github 智能搜索匹配

* 触发 Key : `gh`

![](http://with.muyunyun.cn/c0f217c75c131b1ee93ab4c1d353ec42.jpg-400)

## 工作流提效

### 使用 VSCode 快速打开项目文件

* 触发 key: code
* 前置配置: 需双击点开流水线配置，将目标目录替换为自己的。

![](http://with.muyunyun.cn/a2e3e1597f7766bdd08751217c113b96.jpg-400)

### 快速打开到项目对应的 github/gitlab 链接

* 触发 key: open
* 前置配置: 需双击点开流水线配置，将目标目录替换为自己的。

![](http://with.muyunyun.cn/98d693d37b0c78f7f6c591d31847d7e9.jpg-400)

### 一键切换网络代理

在使用公司内部网络加速、开 vpn、使用 Charles 调试等场景下，需要频繁在路径 `System Preferences - Network - Advanced - Proxies` 下进行手动切换代理配置，十分繁琐。为此提供该 workflow 来简化配置链路。

* 触发 key: pac
* 选项
  * `clear all proxy`: 清空全部代理，用于 Charles.app 代理调试。
  * `auto proxy discovery`: 设置自动代理发现模式，用于公司内部网络加速。

![](http://with.muyunyun.cn/00dd758122c9cbde256f5d02518ad769.gif)</string>
	<key>uidata</key>
	<dict>
		<key>03DBE303-E9DD-4A57-B051-C440279CF378</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>0A1F8331-941F-436E-B246-33278755D60A</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>17C80585-EC4F-498F-AB91-DBA6EBEA4C9D</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>258D642D-325C-41B4-A42D-465A99642478</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>259A5907-9A8C-4B24-A85E-B11FDC01D311</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>29EFA025-C5F1-468D-B065-59EF0C026D11</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>4C4E518D-0498-4D93-B09C-549A95C44A7D</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>62AC894E-3015-44DC-96BC-313D1622A652</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>80F67126-8A71-4268-95E8-6BC8B87A976C</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>99005792-A935-48B8-A8E6-B02B9423ACBD</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>AC03358E-EAF7-48F0-A86A-951E4AD07CBC</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>AD7F82B8-51F1-4A5A-89DE-7CE2D2A6E369</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>CF658493-2BBB-4571-A332-86BFBCCB5AFB</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>D9E0CF4E-F639-4FEB-8ECB-9B6CA14A7131</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1140</integer>
		</dict>
		<key>E73DE4F3-55ED-4D4A-B407-28EFDC650B17</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>1140</integer>
		</dict>
		<key>E8F85589-F67A-4DC4-A472-E781462F41BF</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.4.0</string>
	<key>webaddress</key>
	<string>https://github.com/MuYunyun/flow</string>
</dict>
</plist>
